<footer class="footer navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <%= link_to "#", class: "navbar-brand" do %>
          <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
        <% end %>
        <p class="mt-2">© 2024 Your Company Name</p>
      </div>
      <div class="col-md-6 text-md-end">
        <ul class="list-unstyled">
          <li class="d-inline-block me-3">
            <%= link_to "Home", "#", class: "nav-link d-inline p-0" %>
          </li>
          <li class="d-inline-block me-3">
            <%= link_to "About Us", "#", class: "nav-link d-inline p-0" %>
          </li>
          <li class="d-inline-block me-3">
            <%= link_to "Contact", "#", class: "nav-link d-inline p-0" %>
          </li>
          <li class="d-inline-block">
            <%= link_to "Privacy Policy", "#", class: "nav-link d-inline p-0" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
