<div class="dealcc">
  <div class="deal-wrapper">
  <div class="deal-info">
    <h1><%= @deal.name %></h1>
    <p>Duration: <%= @deal.duration %></p>
    <p>Number of users: <%= @deal.number_of_users %></p>
    <p><%= @deal.description %></p>
    <h4>Price Per Month: <%= "%.2f" % @deal.price %> <i class="fa-solid fa-euro-sign"></i></h4>
  </div>
  <div class="deal-media">
        <img src=<%= @deal.image_path %> alt="Deal image">

    <% if @deal.user != current_user && @deal != @user_deal %>
      <%= link_to "Subscribe Now", deal_subscriptions_path(@deal), data: {turbo_method: :post}, class: "btn subscribe-btn" %>
    <% elsif @deal == @user_deal %>
      <%= link_to "Subscribed", manage_path, class: "btn subscribed-btn disabled" %>
    <% else %>
      <p>This is your deal</p>
    <% end %>
  </div>
</div>
</div>
